<%= render 'form', listing: @listing %>

<div class="flex flex-inline justify-center mx-auto">
    <%= link_to 'Show', @listing, class: 'pr-5' %> |
    <%= link_to 'Back', :back, class: 'pl-5' %>
</div>
