<div class="flex items-center">
    <div class="container mx-auto">
        <div class="max-w-md mx-auto">
            <div class="text-center">
                <h1 class="mb-3 text-3xl font-semibold text-gray-700 dark:text-gray-200">New Listing</h1>
            </div>

            <%= render 'form', listing: @listing %>

            <div class="flex flex-inline justify-center mx-auto">
                <%= link_to 'Back', listings_path, class: 'mx-auto text-center' %>
            </div>

        </div>
    </div>
</div>